{% extends 'base.html' %}
{% block content %}
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Crear usuario</h5>
      <a href="{% url 'users' %}" class="close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.username }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.email }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.password }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.rol }}
            </div>
          </div>
        </div>
        <div class="row">
          {% for field, errors in form.errors.items %}
          {% for error in errors %}
          {{ field }} {{ error }}
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <input type="submit" class="btn btn-primary" value="Crear usuario" />
      </div>
    </form>
  </div>
</div>
{% endblock %}