{% extends 'base.html' %}
{% block content %}
<div style="margin-top: 300px" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Crear tesis</h5>
      <a class="close" href="{% url 'tesis' %}">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <form action="{% url 'create_tesis' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Nombre</label>
              {{ form.nombre }}`
              <!-- <input type="text" placeholder="Nombre" class="form-control" /> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Autores</label>
              {{ form.autores }}
              <!-- <input type="text" placeholder="Evaluadores" class="form-control" /> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Evaluadores</label>
              {{ form.evaluadores }}
              <!-- <input type="date" placeholder="Fecha" class="form-control" /> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Escuela</label>
              {{ form.escuela }}
              <!-- <input type="text" placeholder="Calificación" class="form-control" /> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Fecha</label>
              {{ form.fecha }}
              <!-- <input type="text" placeholder="Estatus" class="form-control" /> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Calificación</label>
              {{ form.calificacion }}
              <!-- <input type="text" placeholder="Escuela" class="form-control" /> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Palabras claves</label>
              {{ form.palabrasclave }}
              <!-- <input type="text" placeholder="Palabras claves" class="form-control" />
                            <small>Por favor, separe con una "," cada palabra clave</small> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Finalizada</label>
              {{ form.finalizada }}
              <!-- <input type="text" placeholder="Palabras claves" class="form-control" />
                              <small>Por favor, separe con una "," cada palabra clave</small> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="Resumen">Resumen</label>
              <!-- <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea> -->
              {{ form.resumen }}
            </div>
          </div>
        </div>

        <div class="row">
          {% for field, errors in form.errors.items %}
          {% for error in errors %}
          {{ field }} {{ error }}
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" href="{% url 'tesis' %}">
          Cerrar
        </a>
        <input type="submit" class="btn btn-primary" value="Crear tesis" />
      </div>
    </form>
  </div>
</div>
{% endblock %}