{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="exampleAutor" tabindex="-1" role="dialog" aria-labelledby="exampleAutorLabel"
  aria-hidden="true">
  <div class="modal-header">
    <h5 class="modal-title">Crear autor</h5>
  </div>

  <form method="POST" action="{% url 'autor' %}">
    {% csrf_token %}
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          {{formAutor.nombre}}
        </div>
        <div class="col-md-6">
          {{formAutor.apellido}}
        </div>
      </div>
      <div class="row">
        {% for field, errors in formAutor.errors.items %}
        {% for error in errors %}
        {{ field }} {{ error }}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="modal-footer">
      <a href="{% url 'tesis' %}" class="btn btn-secondary">Cerrar</a>
      <input type="submit" class="btn btn-primary" value="Crear autor" />
    </div>
  </form>

</div>
{% endblock %}