{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
{% if user.rol != None and user.rol.id == 2 %}
<a href="{% url 'create_tesis' %}" class="btn btn-primary float-right my-3">
  Crear tesis
</a>
<a href="{% url 'postAutor' %}">
  <button class="btn btn-primary float-right my-3  mr-3" type="button">
    Crear autor
  </button>
</a>
{% endif %}
<h3>Listado de tesis</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Palabras clave</th>
        <th>Evaluadores</th>
        <th>Fecha</th>
        <th>Calificación</th>
        <th>Finalizada</th>
        <th>Escuela</th>
      </tr>
    </thead>
    <tbody>
      {% for t in tesis %}
      <tr>
        <a href="#"><td>{{t.nombre}}</td></a>
        <td>{{ t.palabrasclave.all|join:", " }}</td>
        <td>{{ t.evaluadores.all|join:", " }}</td>
        <td>{{ t.fecha }}</td>
        <td>{{ t.calificacion }}</td>
        <td>{{ t.finalizada }}</td>
        <td>{{ t.escuela }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}