{% extends 'base.html' %} {% block content %}
<button class="btn btn-primary float-right my-3" type="button" data-toggle="modal" data-target="#exampleModal">
  Crear usuario
</button>
<h3>Listado de usuarios</h3>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.username }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.email }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.password }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.rol }}
              </div>
            </div>
          </div>
          <div class="row">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            {{ field }} {{ error }}
            {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
          <input type="submit" class="btn btn-primary" value="Crear usuario" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Email</th>
        <th>Cargo</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rol }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}